@import "./fonts";
@import "./generic";
@import "./components/all";

.main {
  margin: 0 auto;
  width: 50%;
}

button {
  border: 0;
  padding: 3px;
  margin-left: 0.7rem;
  background-color: rgba(39, 135, 214, 0.85);
}
